<% content_for :javascript_includes do %>
  <%= javascript_include_tag "owl.carousel" %>
  <%= stylesheet_link_tag  "owl.carousel", "animate", "owl.theme" %>
<% end %>

<script>
  jQuery(document).ready(function($) {
    $('.banner, .banner-mobile').owlCarousel({
      animateOut: 'fadeOut',
      animateIn: 'fadeIn',
      loop: true,
      autoplay: true,
      autoplayHoverPause: true,
      items: 1,
      nav : true,
      dotsEach: true,
      autoplaySpeed: 5000,
      navText : ['<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-left fa-stack-1x fa-inverse"></i></span>','<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-right fa-stack-1x fa-inverse"></i></span>']
    });

    $('.daftar-klien').owlCarousel({
      loop: true,
      margin: 0,
      nav: true,
      responsive:{
        0:{
          items: 1,
          dots: false
        },
        768:{
          items: 3,
          dots: false
        },
        992:{
          items: 5
        }
      },
      navText : ['<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-left fa-stack-1x fa-inverse"></i></span>','<span class="fa-stack"><i class="fa fa-circle fa-stack-1x"></i><i class="fa fa-chevron-circle-right fa-stack-1x fa-inverse"></i></span>']
    })
  });
</script>

<!-- header -->
<%# adjust_header = current_user.nil? ? "" : "logged-banner" %>
<section id="home">
  <div class="banner owl-carousel owl-theme d-none d-sm-block d-md-block d-lg-block d-xl-block">
    <% @web_banners.each do |banner| %>
      <div class="item">
        <%# alt = banner.alt.blank? ? banner.image.url() : banner.alt %>
        <%= image_tag banner.image.url(), alt: banner.image.url()  %>
      </div>
    <% end %>
  </div>
  <div class="col-12 no-p-lr banner-mobile owl-carousel owl-theme d-block d-sm-none">
    <% @mobile_banners.each do |banner| %>
      <div class="item">
        <%# alt = banner.alt.blank? ? banner.image.file.filename : banner.alt %>
        <%= image_tag banner.image.url(), alt: banner.image.url()  %>
      </div>
    <% end %>
  </div>
</section>

<section id="produk" class="main-section product-head" >
  <div class="container">
    <div class="row our-products">
      <div class="col-12"><h1>Produk Kami</h1></div>
      <div class="col-12 text-center">
        <ul class="sub-menu">
          <li class="ic clicked"><%= link_to "Pencil", "javascript:void(0)", id: "pencil-link" %></li>
          <li class="ct"><%= link_to "Embroidery", "javascript:void(0)", id: "embroidery-link" %></li>
        </ul>
      </div>
      <div class="products pencil row col-12">
        <% @pencil_products.each do |product| %>
          <div class="col-12 col-md-4 mb-4">
            <div class="product">
              <%= image_tag product.primary_image('medium'), class: "img-fluid mb-4" %>
              <div class="cat_name"><%= product.try(:category_name) %></div>
              <div class="p_name"><%= product.name %></div>
              <div class="price">
                <%#= number_to_currency(10000000, unit: 'Rp ', separator: ',', delimiter: '.') %>
              </div>
              <hr />
              <div class="p_spec">
                <%#= raw product.description %>
              </div>
              <hr />
            </div>
          </div>
        <% end %>
        <div class="col-12 text-center">
          <%= link_to "See All >>", products_path('pencil'), class: "btn btn-white p-lr-25" %>
        </div>
      </div>
      <div class="products embroidery row col-12" style="display:none">
        <% @embroidery_products.each do |product| %>
          <div class="col-12 col-md-4 mb-4">
            <div class="product">
              <%= image_tag product.primary_image('medium'), class: "img-fluid mb-4" %>
              <div class="cat_name"><%= product.try(:category_name) %></div>
              <div class="p_name"><%= product.name %>-<%= product.id %></div>
              <div class="price">
                <%#= number_to_currency(10000000, unit: 'Rp ', separator: ',', delimiter: '.') %>
              </div>
              <hr />
              <div class="p_spec">
                <%#= raw product.description %>
              </div>
              <hr />
            </div>
          </div>
        <% end %>
        <div class="col-12 text-center">
          <%= link_to "See All >>", products_path('embroidery'), class: "btn btn-white p-lr-25" %>
        </div>
      </div>
    </div>
  </div>
</section>
<%
=begin%>
 
<section class="products pencil">
  <div class="container">
    <div class="row row-eq-heigh">
      <% @pencil_products.each do |product| %>
        <div class="col-12 col-md-4 mb-4">
          <div class="product">
            <%= image_tag product.primary_image('medium'), class: "img-fluid mb-4" %>
            <div class="cat_name"><%= product.try(:category_name) %></div>
            <div class="p_name"><%= product.name %></div>
            <div class="price">
              <%#= number_to_currency(10000000, unit: 'Rp ', separator: ',', delimiter: '.') %>
            </div>
            <hr />
            <div class="p_spec">
              <%#= raw product.description %>
            </div>
            <hr />
          </div>
        </div>
      <% end %>
      <div class="col-12 text-center">
        <%= link_to "See All >>", products_path('pencil'), class: "btn btn-white p-lr-25" %>
      </div>
    </div>
  </div>
</section>

<section class="products embroidery" style="display:none">
  <div class="container">
    <div class="row">
      <% @embroidery_products.each do |product| %>
        <div class="col-12 col-md-4 mb-4">
          <div class="product">
            <%= image_tag product.primary_image('medium'), class: "img-fluid mb-4" %>
            <div class="cat_name"><%= product.try(:category_name) %></div>
            <div class="p_name"><%= product.name %>-<%= product.id %></div>
            <div class="price">
              <%#= number_to_currency(10000000, unit: 'Rp ', separator: ',', delimiter: '.') %>
            </div>
            <hr />
            <div class="p_spec">
              <%#= raw product.description %>
            </div>
            <hr />
          </div>
        </div>
      <% end %>
      <div class="col-12 text-center">
        <%= link_to "See All >>", products_path('embroidery'), class: "btn btn-white p-lr-25" %>
      </div>
    </div>
  </div>
</section> 
<%
=end%>

<section id="tentang-kami" class="about-us-embro main-section">
  <div class="row justify-content-center no-m-lr">
    <div class="col-sm-12 col-lg-5 no-p-lr">
      <%= image_tag "about-us-badge.png", class: "img-fluid" %>
    </div>
    <div class="col-sm-12 col-lg-7 about-us-embro-content">
      <h1>Tentang Kami</h1>
      <h2>PRODUK DAN JASA BORDIR</h2>
      <p>Berpengalaman di bidang bordir sejak 1999, dengan
      memprioritaskan kualitas dan konsistensi, kami menyediakan
      produk bordir seperti bet, pangkat, bordir fashion dan pesanan
      custom.</p>
      <p>Kami berusaha untuk selalu menyajikan produk sesuai permintaan
      pelanggan dalam hal ketepatan spesifikasi maupun ketepatan
      waktu.</p>
      <p>Untuk memenuhi kebutuhan pelanggan dan perubahan jaman,
      kami tidak berhenti belajar dan terus melakukan peningkatan
      pada produk dan jasa kami.</p>
    </div>
  </div>
</section>

<section class="about-us-pencil">
  <div class="row justify-content-center no-m-lr">
    <div class="col-sm-12 col-lg-5 no-p-lr d-block d-sm-none">
      <%= image_tag "about-us-pencil.png", class: "img-fluid" %>
    </div>
    <div class="col-sm-12 col-lg-7 no-p-lr about-us-pencil-content">
      <h2>PENSIL</h2>
      <p> Kami menyediakan produk yang berkualitas dan diakui secara
          internasional. Telah dipercaya oleh berbagai perusahaan dan hotel
          ternama selama bertahun-tahun. Kami percaya diri dapat
          memenuhi kebutuhan anda untuk souvenir, complimentary gift dll.</p>
    </div>
    <div class="col-sm-12 col-lg-5 no-p-lr d-none d-sm-block">
      <%= image_tag "about-us-pencil.png", class: "img-fluid" %>
    </div>
  </div>
</section> 


<section id="klien-kami" class="main-section">
  <div class="col-12"><h1>Klien Kami</h1></div>
  <div class="col-12 no-p-lr daftar-klien owl-carousel owl-theme client-list">
    <% @clients.each do |client| %>
      <div class="item">
        <%# alt = banner.alt.blank? ? banner.image.url() : banner.alt %>
        <%= image_tag client.image.url("small"), alt: client.image.url(), style: "width: 200px;background-color: #fff"  %>
      </div>
    <% end %>
  </div>
</section>


<section id="hubungi-kami" class="hubungi-kami main-section">
  <div class="row justify-content-center no-m-lr">
    <div class="col-sm-12 col-lg-5 no-p-lr d-block d-sm-none">
      <%= image_tag "contact-us.png", class: "img-fluid" %>
    </div>
    <div class="col-sm-12 col-lg-7 no-p-lr hubungi-kami-content">
       <h1>Hubungi Kami</h1>
       <p>
          Jl. Gandapura No.39a, Bandung 40113<br />
          Jawa Barat, Indonesia
       </p>
       <p>+6222 423 3091<br />+62 8122 437 370 (Whatsapp Only)</p>
       <p>mekar_utama1@yahoo.com</p>
    </div>
    <div class="col-sm-12 col-lg-5 no-p-lr d-none d-sm-block">
      <%= image_tag "contact-us.png", class: "img-fluid" %>
    </div>
  </div>
</section>

<script>
  $(document).ready(function () {
    $("#pencil-link").click(function(){
      $("#pencil-link").parent().addClass('clicked')
      $("#embroidery-link").parent().removeClass('clicked')
      $('.embroidery').fadeOut(300, function() {
        $('.pencil').fadeIn(300)
      });
    })
    $("#embroidery-link").click(function(){
      $("#embroidery-link").parent().addClass('clicked')
      $("#pencil-link").parent().removeClass('clicked')
      $('.pencil').fadeOut(300, function() {
        $('.embroidery').fadeIn(300)
      });
    })

    $(window).on('scroll', function () {
      mainSection = $('.main-section'),
      mainSectionLength = mainSection.length,
      links = $('#menu li'),
      flag = 0,
      flag2 = 0,
      lastI = 100,
      myWindow = $(window);

// change navbar active link while scrolling
      if (flag === 0 && mainSectionLength) {
          flag = 1;
          flag2 = 0;
          for (let i = mainSectionLength - 1; i >= 0; i--) {
              if (myWindow.scrollTop() >= mainSection.eq(i).offset().top-81) {
                  if (i != lastI) {
                      links.eq(i + 1).addClass('active').siblings().removeClass('active');
                      lastI = i;
                  }
                  flag2 = 1;
                  break;
              }
          }
          if (flag2 === 0) {
              links.eq(0).addClass('active').siblings().removeClass('active');
              lastI = -1;
          }
          flag = 0;
      }
    });
  });
</script>
